:root {
    --branco-principal: #ffffff;
    --cinza-secundario: #ffffff;
    --botao-azul: #0013a1;
    --cor-de-fundo: #000000;
    --fonte-principal: 'Lora';
}

* {
    margin: 0;
    padding: 0;

}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-weight: 400;
}

.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;

}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 40%;

}

.container-botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
}

.botao-secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal)
}

.container-aviso{
font-size: 12px;
color:var(--cinza-secundario);

}